body {
  font-family: sans-serif;
      margin-left: 200px;
}

#menu {
  margin-left: 200px;
}

select {
  width: 200px;
  padding: 3px;
  margin-right: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.legend {
  font-size: 12px;
  fill: #555;
}

.legend rect {
  fill: #aaa;
}

.title {
  font-weight: bold;
  fill: #555;
}

.axis line {
  stroke: #eee;
}

.y.axis path {
  display: none;
}

.y.axis text {
  font-size: 11px;
  fill: #777;
  font-weight: bold;
}

.blog-post-content {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: justify;
}
h1 {
    font-size: 2rem;
    text-align: center;
}
